
    <nav class="navbar">
      <h1><a href="/home" class="webname">BinToWin</a></h1>
      <div>
      <a href="/signup"><button class="navbtn">Sign Up</button></a>
     <a href="/login"> <button  class="navbtn">Login </button></a>
     </div>
    </nav>