/* profile page css */
.b {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100vw;
}

.box1 {
    text-align: center;
    margin: 1rem;
}

.box1 img {

    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.box2,
.box3,
.box4,
.box5 {
    text-align: center;
    background-color: #16a34a;
    border-radius: 30px;
    padding: 40px 70px;
    width: 45%;
    MARGIN: 2REM;
}

.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
    box-shadow: 10px 10px 20px burlywood;
}


.headings {
    color: darkgreen;

}

.description {
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 40px;
    padding: 2rem;
    font-size: 20px;
}

.description:hover {
    box-shadow: 15px 10px 20px burlywood;
}

.box6 {
    text-align: center;
    background-color: lightgreen;
    border-radius: 30px;
    padding: 40px 70px;
    width: 95%;
    MARGIN: 2REM;

}

.forms {
    width: 45%;
    margin: 1rem;
    border-radius: 40px;
}

.updatebtn {
    border-radius: 40px;
    background-color: darkgreen;
    width: 90%;
    margin: 0.5rem;
    font-size: 20px;
}

/* profile pagecss end 
sign up page Start*/

.sl {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F0FFFF;
    width: 100vw;
}

.maindiv {
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 30%;
    border-radius: 1rem;
    box-shadow: 0 15px 15px #16a34a;
}

.maindiv h1 {
    font-weight: bold;
    font-size: 25px;
    color: #16a34a;
}

.inputfield {
    width: 95%;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.signup,
.login {
    background-color:#16a34a;
    font-weight: bold;
    font-size: 18x;
    border-radius: 3rem;
    margin: 1.2em;
    padding: 5px 20px;
    color:white;
    border: none;
}

.signup:hover,
.login:hover {
    background-color: rgb(49, 84, 49);
}