body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 99vw;
    margin: 0px;
    padding: 0px;
    background-color: beige;
    box-sizing: border-box;
    /* background-image: url("https://sdmntprwestus3.oaiusercontent.com/files/00000000-d91c-61fd-a981-98beffbf04b8/raw?se=2025-07-10T15%3A55%3A52Z&sp=r&sv=2024-08-04&sr=b&scid=f3751312-6e66-5c62-bae6-f31803cb3d71&skoid=0da8417a-a4c3-4a19-9b05-b82cee9d8868&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-10T10%3A25%3A48Z&ske=2025-07-11T10%3A25%3A48Z&sks=b&skv=2024-08-04&sig=9WPyvE9o0Oeuxq4LPH7gfgpNR4kydU9M6IUVL%2B0BDGc%3D");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.profileimg{
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 40px;

}

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 80px;
    background-color: #16a34a;
    color: beige;
    width: 100%;
}

.webname {
    text-decoration: none;
    color: white;
}

.navbtn {
    background-color: beige;
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    margin: 8px;
    color: #16a34a;
    padding: 8px 10px;
    font-weight: bold;
    transition: 0.5s;
}

.navbtn:hover {
    transform: scale(1.1);
}

/* index page css */

.fdiv {
    background-color: beige;
    padding: 25px;
    text-align: center;

}

.Secondlife {

    margin: 10px;
}

.para1 {
    margin: 3rem;

}

.contro {
    display: inline-block;
    text-decoration: none;
    background-color: #16a34a;
    border: none;
    padding: 5px;
    color: beige;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    transition: 0.5s;
    padding: 10px 15px;

}

.contro:hover {
    transform: scale(1.2);
    background-color: #20a854;
}

.div2 {
    text-align: center;
    background-color: #16a34a;
    padding: 25px;
}

.div3 {
    background-color: beige;
    border-radius: 30px;
    padding: 15px;
    margin: 2rem;
    height: 18rem;
   
}

.div3 p,
h1 {
    text-align: center;
    margin: 2rem;
}

.camera {
    height: 100px;
    width: 100px;

}

.foot {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#16a34a;
    font-weight: bold;
    font-size: 22px;
    color:white;
}

/* Contribute Page Styling */

.containerGreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 6px beige;
}

.header {
    display: flex;
    justify-content: center;
    color: green;
}

.formGreen {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(121, 121, 121);
}

#map {
    height: 80vh;
    width: 50vw;
}

/* Animations */
