body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 99vw;
    margin: 0px;
    padding: 0px;
    background-color: beige;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    */
    /* background-image: url("https://sdmntprwestus3.oaiusercontent.com/files/00000000-d91c-61fd-a981-98beffbf04b8/raw?se=2025-07-10T15%3A55%3A52Z&sp=r&sv=2024-08-04&sr=b&scid=f3751312-6e66-5c62-bae6-f31803cb3d71&skoid=0da8417a-a4c3-4a19-9b05-b82cee9d8868&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-07-10T10%3A25%3A48Z&ske=2025-07-11T10%3A25%3A48Z&sks=b&skv=2024-08-04&sig=9WPyvE9o0Oeuxq4LPH7gfgpNR4kydU9M6IUVL%2B0BDGc%3D");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.profileimg{
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 40px;

}

/* Navbar Styling */

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 80px;
    background-color: #16a34a;
    color: beige;
    width: 100%;
}

.webname {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbtn {
    background-color: beige;
    border: none;
    padding: 5px 8px;
    border-radius: 20px;
    margin: 8px;
    color: #16a34a;
    padding: 8px 10px;
    font-weight: bold;
    transition: 0.5s;
    transition: 0.5s;
}

.navbtn:hover {
    transform: scale(1.1);
}

/* index page css */

.fdiv {
    background-color: beige;
    padding: 25px;
    text-align: center;

}

.Secondlife {

    margin: 10px;
}

.para1 {
    margin: 3rem;

}

.contro {
    display: inline-block;
    text-decoration: none;
    background-color: #16a34a;
    border: none;
    padding: 5px;
    color: beige;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    transition: 0.5s;
    padding: 10px 15px;

}

.contro:hover {
    transform: scale(1.2);
    background-color: #20a854;
}

.div2 {
    margin-left: -5.7rem;
    width: 99vw;
    text-align: center;
    background-color: #16a34a;
    padding: 25px;
}

.div3 {
    background-color: beige;
    border-radius: 30px;
    padding: 15px;
    margin: 2rem;
    height: 18rem;
    /* animation: slide 1s ease-in;
    animation-delay: 2s; */
   
}

.div3 p,
h1 {
    text-align: center;
    margin: 2rem;
}

.camera {
    height: 100px;
    width: 100px;

}

.foot {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16a34a;
    background-color:#16a34a;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

/* Signup / Login Page Styling */

/* .containerForm {

    box-shadow: 0 7px 10px green; 
    border-radius: 10px;
    margin: 80px auto;
    padding: 20px 0;
    width: max-content;
    background: beige;
    text-align: center;
} */

/* #userButton {
    margin: 10px;
    padding: 15px;
    border-style: none;
    border-radius: 40rem;
    font-size: 23px;
    font-weight: 200px;
    width: 150px;
    box-shadow: 0 5px 7px rgb(73, 36, 36);
    color: rgb(73, 36, 36);
}

#userButton:active {
    background-color: green;
    color: white;
}

#userButton:hover {
    background-color: green;
    color: white;
}

#ngoButton {
    margin: 10px;
    padding: 15px;
    border-style: none;
    border-radius: 40rem;
    font-size: 23px;
    font-weight: 200px;
    width: 150px;
    box-shadow: 0 5px 7px rgb(73, 36, 36);
    color: rgb(73, 36, 36);
}

#ngoButton:active {
    background-color: green;
    color: white;
}

#ngoButton:hover {
    background-color: green;
    color: white;
} */

/* .userHead {
    color: rgb(73, 36, 36);

}

#userLoginButton {
    margin-left: 6rem;
    border-style: none;
    width: 7rem;
    border-radius: 12rem;
    background-color: #16a34a;
    color: white;
    height: 3rem;
    box-shadow: 0 5px 7px rgb(73, 36, 36);
    transition: 0.5s;
}

#userLoginButton:hover {
    transform: scale(1.1);
}

.userForm {
    margin: 5px auto;
    padding: 5px 40px;
    padding-right: 9rem;
    width: 100%;
}

.userInput {
    border-style: none;
    border-radius: 5px;
    width: 150%;
    background-color: white;
    height: 2rem;
    font-size: 18px;
    box-shadow: 0 5px 7px rgb(73, 36, 36);
} 
    color:white;
}

/* Contribute Page Styling */

.containerGreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 6px beige;
}

.header {
    display: flex;
    justify-content: center;
    color: green;
}

.formGreen {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(121, 121, 121);
}

.form-check {
    display: flex;
    justify-content: space-evenly;
}

#map {
    height: 80vh;
    width: 50vw;
}

/* Uploads Page  */
.index-img {
    height: 15rem;
}

.listing-card {
    border: none;
    margin-bottom: 2rem;
    background-color: beige;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.index-img:hover {
    border: 2px solid #16a34a;
    border-radius: 1rem;
}

.card-body {
    padding: 0;
    background-color: beige;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Show Page Styling */

.show-img {
    height: 50vh;
}

#showmap {
    height: 80vh;
    width: 42.5vw;
}

/* Animations */
