<% layout("/layouts/boilerplate.ejs") -%>
    <script>
        const MAP_URL = "<%= process.env.MAPTILER_URL %>";
    </script>
    <div class="containerGreen">
        <div class="header">
            <img src="https://cdn-icons-png.flaticon.com/128/5769/5769344.png" height="50px" width="50px"
                alt="recycleImg">
            <pre><h2> Specify Your Need </h2></pre>
        </div>
        <br>

        <div class="ControForm">
            <form action="/profile" method="POST" class="needs-validation" novalidate>
                <div>
                    <select class="form-select formGreen" name="needs[category]" required>
                        <option value="" disabled selected>Select Category of Waste</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Books">Books</option>
                        <option value="Plastic">Plastic</option>
                        <option value="Metal">Metal</option>
                        <option value="Glass">Glass</option>
                        <option value="Others">Others</option>
                    </select>
                    <div class="invalid-feedback">Please select category of waste</div>
                </div>
                <br>

                <div>
                    <textarea placeholder="Describe your need (Laptops, Mobiles, length of cloth, wood, other etc)"
                        rows="4" cols="62" class="formGreen form-control" name="needs[description]" required></textarea>
                    <div class="invalid-feedback">Please describe what you need</div>
                </div>
                <br>

                <div>
                    <input type="text" name="needs[location]" placeholder="Your Location(Eg; Dadar, Mumbai)"
                        class="formGreen form-control location" required>
                    <div class="invalid-feedback">Please enter a valid location</div>
                </div>
                <br>

                <h4 class="center"> Spot the NGO </h4>
                <br>
                <div id="map"></div>
                <br><br>

                <div>
                    <button class="btn btn-outline-success">Submit</button>
                </div>
            </form>
              
        </div>
         
    </div>