 <% layout("/layouts/boilerplate.ejs") -%>

    
 <div class="containerForm">
    <div>
        <button id="userButton">User</button>
        <button id="ngoButton">NGO</button>
    </div>
    
    <br>
    
    <div class="userHead">
        <h1 id="head">SIGN UP</h1>
    </div>
    <br>

    <div class="userForm">
        <form>

            <input type="email" id="userEmail"  name="userEmail" placeholder=" Email" required class="userInput">
            <br><br>
            <input type="password" id="userPassword"  name="userPassword" placeholder="Password" required class="userInput">
            <br><br>
            <div>
                <button  id="userLoginButton">SIGN UP</button>
            </div>
            <br><br>
        </form>
    </div>
    
    <p style="color:rgb(73, 36, 36); font-size: 18px;">Already  have an account? <a href="/login">Login</a></p>

</div>